main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
}
main p {
  background-color: #184d23;
  color: #b3d8c3;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(24, 77, 35, 0.5);
  margin: 1rem auto;
  width: 350px;
  height: 150px;
  letter-spacing: 0.5px;
}


@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

  main p {
    font-size: 1.1rem;
    text-align: left;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
  }
}